<!DOCTYPE html>
<html>
<head>
  <title>MiniProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

  <div class="jumbotron" >
    <h1>桌遊管理系統</h1>
  </div>
      <%if flash[:notice].present?%>
        <div class="alert alert-success text-center" role="alert">
          <%=flash[:notice]%>
        </div>
      <%end%>
<%= yield %>

</div>
</body>
</html>
